*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
	/*font-family: 'Bebas Neue', cursive;*/
}

body{
	overflow:hidden;
}

header, .projects{
	height: 100vh;
	background: 
		linear-gradient(
			rgba(0, 255, 222, 0.45),
			rgba(0, 88, 255, 0.45)),
		url(../images/profile_background2.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	text-align: center;
}

#name{
	/*font-family: 'Coda Caption', sans-serif;*/
	font-family: 'Russo One', sans-serif;
	color: #ffbc41;
}

.header-block{
	width: 80vw;
	padding: 15px 20px;
	background-color: rgba(56, 56, 56, .8);
	border-radius: 0px 30px 0px 30px;
}

/*#aboutme-sub-header{
	padding-top: 15px;
}*/

.header-one{
	font-size: 35px;
	margin: 0px 0px 15px;
	padding: 5px 15px;
	border-bottom: 3px solid white;
	text-shadow: 1px 1px #383838;
	box-shadow: 0px 2px #383838;
}

.sub-header {
	margin-bottom: 50px;
	color: orange;
	text-shadow: 2px 2px #383838;
}

.header-two{
	font-size: 35px;
	margin: 15px 0px 50px;
	padding: 5px 15px;
	border-bottom: 3px solid white;
	text-shadow: 1px 1px #383838;
	box-shadow: 0px 2px #383838;
	font-family: 'Russo One', sans-serif;
}

.header-text{
	margin: 20px;
}

/*hr{
	width: 130%;
	font-weight: bolder;
}*/

.skills{
	height: 100vh;
	background: 
		linear-gradient(
				rgba(0, 255, 222, 0.15),
				rgba(0, 88, 255, 0.15));
	background-color: #8c8c8c;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

.skills-layer{
	margin: 15px 0px;
}

.skills-logo{
	margin: 0px 25px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	box-shadow: 2px 2px #383838;
}

.projects-layer{
	display: flex;
}

/*#p-layer-1{
	position: relative;
	left: 3%;
}*/

/*#p-layer-2{
	position: relative;
	right: 5%;
}*/

.project-thumbnail {
	margin: 20px;
}

.project-thumbnail-img {
	margin: 10px;
	width: 250px;
	height: 150px;
	border-radius: 5px;
	box-shadow: 2px 2px #383838;
}

.projects-sub-header{
	color: #ffbc41;
	text-shadow: 2px 2px #383838;
}

.project-thumbnail-img:hover{
	filter: grayscale(100%);
	transition: 0.5s;
}

nav{
	height: 7.5vh;
	background-color: #383838;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	bottom: 0px;
}

ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

li{
	margin: 0px 30px;
	list-style-type: none;
}

.navbar-link{
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	letter-spacing: 2px;
}

a:hover{
	color: orange;
}
